*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.todo {
  width: 600px;
  min-height: 400px;
  border-radius: 20px;
  background: #fff;
  margin: auto;
  margin-top: 174px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  padding-bottom: 30px;
  margin-bottom: 100px;
}
.todo-header {
  margin-top: 84px;
  color: #002765;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
}
.todo-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.todo-input {
  border-radius: 50px;
  background: #edeef0;
  border: none;
  outline: none;
  width: 576px;
  height: 80px;
  padding-left: 35px;
  font-size: 20px;
}
.todo-add-btn {
  border-radius: 50%;
  background: #ff6739;
  width: 187px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}

@media (min-width: 375px) {
  .todo {
    max-width: 350px;
  }
  .todo-add-btn{margin-left:-50px ;
  padding: 0 5px;
    border-radius: 10%;
}
}

@media (min-width: 576px) {
  .todo {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .todo {
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .todo {
    max-width: 500px;
  }
}

@media (min-width: 1200px) {
  .todo {
    max-width: 500px;
  }
}

@media (min-width: 1400px) {
  .todo {
    max-width: 500px;
  }
}
